@charset "utf-8";
/* 你自己的样式 */

.uploader-list-container .uplodeimg {
    display: inherit;
    height: 150px;
    margin: 10px auto;
    width: 150px;
}

.uploader-list-container .editImg {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    float: left;
    height: 22px;
    right: 42%;
    bottom: 20px;
    cursor:pointer;
    line-height: 22px;
    position: absolute;
    text-align: center;
    width: 40px;
}

